td {
    text-align: center;
    /* background-color: aqua; */
}

form {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(48, 47, 47);
    width: 300px;
    color: white;
    font-size: 2em;
    height: 100px;
}

.one {
    width: 600px;
}

.orange {
    background-color: orange;
}

input {
    font-size: 3em;
    width: 1200px;
    height: 100px;
    margin-left: 5px;
}

body {
    color: white;
    background-color: rgba(0, 0, 0, 0.945);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}
