body {
    height: 100vh;
    /* Created with https://www.css-gradient.com */
    background: black;
    color: wheat;
}

.task {
    background: #237EE2;
    background: -webkit-linear-gradient(top left, #237EE2, #ADCBCE);
    background: -moz-linear-gradient(top left, #237EE2, #ADCBCE);
    background: linear-gradient(to bottom right, #237EE2, #ADCBCE);
    color: black;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    font-size: 20px;

}

.task>div>input {
    margin-right: 12px;
}

.task>button {
    width: 80px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    color: black;
}

.inputSec>button {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    margin-left: 10px;
}

.myinput {
    border-radius: 10px;
    margin-left: 10px;
}

.inputSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 60px;
}

hr {
    margin: auto;
    width: 80%;
}
